---
import Main from "@/layouts/Main.astro";
---

<Main>
	<p>
		Lorem ipsum
	</p>
</Main>

<style>
	p {
		max-width: 70ch;
		border: 1px solid var(--border);
		padding: 1rem;
		border-radius: var(--br);
		background-color: var(--bg);
	}
</style>