:root {
	/* Colors */
	--bg-light: oklch(25% 1% 210);
	--bg: oklch(20% 1% 210);
	--bg-dark: oklch(15% 1% 210);

	--primary: oklch(95% 60% 160);
	--secondary: oklch(70% 30% 180);

	--text: oklch(95% 1% 210);
	--text-muted: oklch(75% 1% 210);

	--border: oklch(40% 1% 210);
	--border-muted: oklch(30% 1% 210);

	--gradient: linear-gradient(0deg, var(--bg-dark) 60%, var(--bg));
	--gradient-hover: ;

	--highlight: oklch(60% 1% 210);

	--br-soft: .25em;
	--br-hard: .5em;

	--danger: oklch(60% 50% 30);
	--warning: oklch(85% 50% 85);
	--success: oklch(60% 50% 150);
	--info: oklch(60% 50% 250);

	/* Sizes */
	--navbar-height: 64px;
	--sidebar-width: 300px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: var(--text-muted);
	font-family: sans-serif, system-ui, -apple-system;
}

body {
	background-color: var(--bg-dark);
}

svg {
	stroke: var(--text-muted);
}

.rflex {
	display: flex;
	flex-direction: row;
}

.cflex {
	display: flex;
	flex-direction: column;
}