:root {
	/* Taken from `liftkitvars.css`
	- https://www.chainlift.io/utility-classes/liftkitvars */

	--golden-ratio: 1.618;
	--sizing-wholestep: 1.618;
	--sizing-halfstep: 1.272;
	--sizing-quarterstep: 1.128;
	--sizing-eighthstep: 1.062;

	--sizing-wholestep-dec: 0.618;
	--sizing-halfstep-dec: 0.272;
	--sizing-quarterstep-dec: 0.128;
	--sizing-eighthstep-dec: 0.062;

	--size-m: 1em;

	--size-s: calc(1em / var(--golden-ratio));
	--size-xs: calc(var(--size-s) / var(--golden-ratio));
	--size-2xs: calc(var(--size-xs) / var(--golden-ratio));
	--size-3xs: calc(var(--size-2xs) / var(--golden-ratio));
	--size-l: calc(1em * var(--golden-ratio));
	--size-xl: calc(var(--size-l) * var(--golden-ratio));
	--size-2xl: calc(var(--size-xl) * var(--golden-ratio));
	--size-3xl: calc(var(--size-2xl) * var(--golden-ratio));
	--size-4xl: calc(var(--size-3xl) * var(--golden-ratio));

	/* Unitless sizes for usage with `calc()` */
	--size-s-unitless: calc(1 / var(--golden-ratio));
	--size-xs-unitless: calc(var(--size-s-unitless) / var(--golden-ratio));
	--size-2xs-unitless: calc(var(--size-xs-unitless) / var(--golden-ratio));
	--size-l-unitless: calc(1 * var(--golden-ratio));
	--size-xl-unitless: calc(var(--size-l-unitless) * var(--golden-ratio));
	--size-2xl-unitless: calc(var(--size-xl-unitless) * var(--golden-ratio));
}