---

---

<nav class="navbar rflex">
	<span>Reddom</span>
</nav>

<style>
	.navbar {
		position: fixed;
		width: 100%;
		inset: 0 auto auto 0;
		height: var(--navbar-height);
		background-color: var(--bg);
		z-index: 1000;
		align-items: center;
	}

	span {
		color: var(--primary);
	}
</style>