---
import PicturesIcon from "@/assets/icons/pictures.svg";
import BoxIcon from "@/assets/icons/box.svg";
import WrenchIcon from "@/assets/icons/wrench.svg";
import PickaxeIcon from "@/assets/icons/pickaxe.svg";
import { db, Block } from "astro:db"

const data = await db.select().from(Block);

const tabs = [
	{
		title: "Start",
		path: "/getting-started",
		icon: PickaxeIcon
	},
	{
		title: "Block Reference",
		path: "/reference",
		icon: BoxIcon
	},
	{
		title: "Technology",
		path: "/tech",
		icon: WrenchIcon
	},
	{
		title: "Assets",
		path: "/assets",
		icon: PicturesIcon
	}
];
---

<div class="sidebar cflex">
	<ul class="tabs-wrapper cflex">
		{tabs.map((tab) => (
			<li class="tab-item rflex" data-path={tab.path}>
				<tab.icon />
				<span>{tab.title}</span>
			</li>
		))}
	</ul>
</div>

<style>
	.sidebar {
		position: fixed;
		inset: var(--navbar-height) auto auto 0;
		height: 100%;
		width: var(--sidebar-width);
		max-width: var(--sidebar-width);
		background-color: var(--bg);
		border-top: 1px solid var(--bg-dark);
		padding: var(--size-m);
	}

	.tabs-wrapper {
		border: 1px solid var(--border);
		padding: var(--size-xs);
		border-radius: calc(var(--br-soft) + var(--size-xs));
		list-style-type: none;
	}

	.tab-item {
		align-items: center;
		gap: var(--size-xs);
		border-radius: var(--br-soft);
		cursor: pointer;
	}

	.tab-item.selected {
		background-color: var(--bg-light);
	}

	.tab-item.selected svg {
		stroke: var(--primary);
	}

	.tab-item.selected span {
		color: var(--text);
	}

	.tab-item svg {
		aspect-ratio: 1 / 1;
		width: var(--size-m);
		height: auto;
		margin: var(--size-s);
	}

	.tab-item:hover {
		background-color: var(--bg-light);
	}

	.tab-item:not(.selected):hover svg {
		stroke: var(--text);
	}

	.tab-item:hover span {
		color: var(--text);
	}
</style>

<script>
	const tabItems = document.querySelectorAll<HTMLDataListElement>('.tab-item');

	tabItems.forEach((tabItem, index) => {
		if (document.location.pathname.startsWith(tabItem.dataset.path!)) {
			tabItem.classList.add('selected');
		}

		tabItem.addEventListener('click', () => {

		});
	});
</script>