---

---

<div class="sidebar">
	<span>hello</span>
</div>

<style>
	.sidebar {
		position: fixed;
		inset: var(--navbar-height) auto auto 0;
		height: 100%;
		min-width: var(--sidebar-width);
		max-width: var(--sidebar-width);
		background-color: var(--background-300);
		border-top: 1px solid var(--border-900);
		border-right: 1px solid var(--border-900);
	}
</style>