---
import Main from "@/layouts/Main.astro";
---

<Main>
	<p>
		Lorem ipsum, dolor sit amet consectetur adipisicing elit.
		Cupiditate facere tenetur, odit est rem esse recusandae ut sapiente.
		Velit officiis nemo dolorum, ut sint aliquid cum ex officia impedit ab,
		quibusdam quam! Nulla aspernatur vero quos quod ipsam repudiandae itaque,
		eveniet, omnis unde veritatis modi totam porro atque alias fugiat!
	</p>
</Main>